<ion-view title="Add voucher / promotion" id="page22">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="addVoucherPromotion-form13" class="list">
      <label class="item item-input" id="addVoucherPromotion-input15" name="description">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Promotion">
      </label>
      <label class="item item-input" id="addVoucherPromotion-input16" name="points">
        <span class="input-label">Points</span>
        <input type="number" placeholder="25">
      </label>
    </form>
    <div id="addVoucherPromotion-button-bar2" class="button-bar">
      <button id="addVoucherPromotion-button23" class="button button-positive  button-block">Save</button>
      <button id="addVoucherPromotion-button25" class="button button-positive  button-block">Delete</button>
    </div>
  </ion-content>
</ion-view>