<ion-view title="Advertisement" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="advertisement-form11" class="list">
      <label class="item item-input" id="advertisement-input8" name="name">
        <span class="input-label">Name</span>
        <input type="text" placeholder="1 + 1 Pizza free">
      </label>
    </form>
    <form id="advertisement-form12" class="list">
      <label class="item item-input" id="advertisement-input9" name="amount">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="50">
      </label>
    </form>
    <button id="advertisement-button18" class="button button-positive  button-block">Save</button>
  </ion-content>
</ion-view>