<ion-view title="Feedback" id="page13">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="feedback-form10" class="list">
      <label class="item item-select" id="feedback-select4" name="rating">
        <span class="input-label">Rate</span>
        <select ng-model="rating">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </label>
      <label class="item item-input" id="feedback-textarea2" name="comment">
        <span class="input-label">Comment</span><textarea placeholder="comment" ng-model="comment"></textarea></label>
    </form>
    <button id="feedback-button17" class="button button-positive button-block" ng-click="save(rating, comment)">Save</button>
    <button id="feedback-button17" class="button button-assertive button-block" ng-click="cancel()">Cancel</button>
  </ion-content>
</ion-view>
