<ion-view title="Login" id="page10">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="login-form3" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input3" name="email">
          <span class="input-label">Email</span>
          <input type="email" placeholder="example@example.com">
        </label>
        <label class="item item-input" id="login-input4" name="password">
          <span class="input-label">Password</span>
          <input type="password" placeholder="*******">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="smartAccessibility.map" id="login-button3" class="button button-stable  button-block">Log in</a>
      <a ui-sref="signup" id="login-button4" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>