<ion-view title="Report list" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="reportList-list11">
      <ion-item class="item-thumbnail-left" id="reportList-list-item38">
        <h2>Date-Problem description</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="reportList-list-item39">
        <h2>Date-Problem description</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="reportList-list-item40">
        <h2>Date-Problem description</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="reportList-list-item41">
        <h2>Date-Problem description</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="reportList-list-item42">
        <h2>Date-Problem description</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>