<ion-view title="Report" id="page3">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="report-form5" class="list">
      <label class="item item-select" id="report-select1" name="problem">
        <span class="input-label">Type of problem</span>
        <select>
          <option>missing ramp</option>
          <option>parking</option>
          <option>obstacle</option>
        </select>
      </label>
      <label class="item item-input" id="report-textarea1" name="comment">
        <span class="input-label">Leave a comment</span><textarea placeholder="comment"></textarea></label>
      <button id="report-button16" class="button button-positive  button-block">Save</button>
    </form>
  </ion-content>
</ion-view>