<ion-view title="Review List" id="page16">
  <ion-content padding="true" class="has-header">
    <ion-list id="reviewList-list9">
      <ion-item class="item-thumbnail-left" id="reviewList-list-item60">
        <h2>Date-Problem description</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="reviewList-list-item61">
        <h2>Date-Problem description</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="reviewList-list-item62">
        <h2>Date-Problem description</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>