<ion-view title="Signup" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="signup-form4" class="list">
      <ion-list id="signup-list7">
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="signup-input14">
        <span class="input-label">Date</span>
        <input type="date" placeholder="">
      </label>
    </form>
    <form id="signup-form9" class="list">
      <label class="item item-select" id="signup-select5" name="dissability">
        <span class="input-label">Mobility</span>
        <select>
          <option>Wheelchair</option>
          <option>Blind stick</option>
          <option>Pedestrian</option>
        </select>
      </label>
    </form>
    <button id="signup-button5" class="button button-stable  button-block">Sign up</button>
  </ion-content>
</ion-view>