<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Smart Accessibility</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="smartAccessibility-list6">
        <ion-item class="item-avatar" id="smartAccessibility-list-item14" ui-sref="smartAccessibility.user" menu-close="">
          <h2>User</h2>
        </ion-item>
        <ion-item class="item-icon-left" id="smartAccessibility-list-item15" ui-sref="smartAccessibility.map" menu-close="">
          <i class="icon ion-android-pin"></i>Map</ion-item>
        <ion-item class="item-icon-left" id="smartAccessibility-list-item16" ui-sref="smartAccessibility.report" menu-close="">
          <i class="icon ion-edit"></i>Report</ion-item>
        <ion-item class="item-icon-left" id="smartAccessibility-list-item17" ui-sref="smartAccessibility.settings" menu-close="">
          <i class="icon ion-ios-gear"></i>Settings</ion-item>
        <ion-item class="item-icon-left" id="smartAccessibility-list-item18" ui-sref="smartAccessibility.redeemPoints" menu-close="">
          <i class="icon ion-ios-cart"></i>Redeem points</ion-item>
        <ion-item class="item-icon-left" id="smartAccessibility-list-item20" ui-sref="smartAccessibility.advertisement" menu-close="">
          <i class="icon ion-ios-monitor"></i>Advertisement</ion-item>
        <ion-item class="item-icon-left" id="smartAccessibility-list-item49" ui-sref="smartAccessibility.vouchersPromotions" menu-close="">
          <i class="icon ion-ios-world"></i>Vouchers / Promotions</ion-item>
        <ion-item class="item-icon-left" id="smartAccessibility-list-item21" ui-sref="smartAccessibility.municipality" menu-close="">
          <i class="icon ion-home"></i>Municipality</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>