<ion-view title="User" id="page1">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="smartAccessibility.redeemPoints" id="user-button26" class="button button-positive  button-block">Points {{points}}</a>
    <a ui-sref="smartAccessibility.reportList" id="user-button14" class="button button-positive  button-block">Reports</a>
    <a ui-sref="smartAccessibility.reviewList" id="user-button15" class="button button-positive  button-block">Reviews</a>
  </ion-content>
</ion-view>
